@{
    ViewBag.Title = "Not Found";

}

<div style="margin-top:11%;margin-bottom:7%; text-align:center">
    <h1>@ViewBag.ErrorMessage</h1>
    <br />
    <a asp-action="index" asp-controller="home">
        Kliknite ovdje da se vratite na početnu stranicu.
    </a>
</div>
