@{ 
    ViewBag.Title = "Pocetna";
}
    <div class="tell" id="pocetnaTelo1">
        <div class="kontejner" id="pocetnaKont">
            <div class="pocetnaKartica" style="align-items:center">
                <h1 class="fade-in" style="font-size:55px;">Dobrodošli na Brajići.me</h1>
                <br />
                <p class="fade-in indexTekst">
                    Ovo je sajt sela Brajići, opština Budva, Crna Gora, na kome možete naći osnovne infomacije o prošlosti
                    ovog sela i starog plemena Brajići. Kroz tekstove o istoriji možete se upoznati i sa lokalnim običajima i
                    saznati nešto više o rodoslovima starih, lokalnih bratstava.
                </p>
                <div class="row">
                    <a class="m-3 fade-in btn btn-dark font-weight-bold btn-lg text-white" asp-action="vesti" asp-controller="home">Vijesti</a>
                    <a class="btn btn-success m-3 fade-in font-weight-bold btn-lg text-white" id="dugme2" asp-action="tekstovi" asp-controller="home">Istorija</a>
                </div>
            </div>
        </div>
    </div>

