@{ 
    ViewBag.Tilte = "Proslost";
}
@*<div class="mx-auto hedr">

</div>*@
<div class="telo">    
    <div class="kanta">
        <div class="krtica">
            <div class="slikaBox">
                <img src="~/images/sword.png" />
            </div>
            <div class="sadrzaj">
                <div>
                    <h3>Brajići na granici</h3>
                    <p>
                        Početkom dvadesetog vijeka, kao i ranije u prošlosti, područje Balkana bilo je, može se reći, u
                        središtu svjetske istorije . . .
                    </p>
                    <a class="btn btn-outline-success" asp-action="PDFViewer" asp-controller="home" onclick="proslediPrvi(this.id)" id="t1">Pročitaj sve</a>
                    <p>Autor: Savo Martinović</p>
                </div>
            </div>
        </div>
        <div class="krtica">
            <div class="slikaBox">
                <img src="~/images/castle.png" class="text-white" />
            </div>
            <div class="sadrzaj">
                <div>
                    <h3>Brajići u Bokeljskom ustanku</h3>
                    <p>
                        Po priključenju Austriji 1815. godine, Boka je ušla u tzv. kraljevine Dalmacije, čije je administrativno
                        sjedište . . .
                    </p>
                    <a class="btn btn-outline-success" asp-action="PDFViewer" asp-controller="home" onclick="proslediPrvi(this.id)" id="t2">Pročitaj sve</a>
                    <p>Autor: Savo Martinović</p>
                </div>
            </div>
        </div>
        <div class="krtica">
            <div class="slikaBox">
                <img src="~/images/church.png" />
            </div>
            <div class="sadrzaj">
                <div>
                    <h3>Brajićke crkve i sveštenici</h3>
                    <p>Ovaj tekst je u izradi.</p>
                    
                </div>
            </div>
        </div>
        <div class="krtica">
            <div class="slikaBox">
                <img src="~/images/paper-plane.png" />
            </div>
            <div class="sadrzaj">
                <div>
                    <h3>Brajićke poštonoše</h3>
                    <p>Ovaj tekst je u izradi.</p>
                    
                </div>
            </div>
        </div>
        <div class="mx-auto">
            <a class="btn btn-dark text-white font-weight-bold" asp-action="tekstovi" asp-controller="home">Nazad na istoriju</a>
        </div>
    </div>
</div>
@*<div class="mx-auto hedr">

</div>*@
