@{
    ViewBag.Title = "Istorija";
}
@*<div class="mx-auto hedr">

</div>*@
<div class="telo mb-5">
    <div class="kontejner">
        <div class="cardd">
            <div class="imgBx">
                <img src="~/images/sl1.jpg" />
            </div>
            <div class="cont2">
                <h2>Prošlost</h2>
                <p>
                    Život na granici i priče iz prošlosti...
                </p>
                <a class="btn btn-success text-white" asp-action="istorija" asp-controller="home">Saznaj više</a>
            </div>
            <div class="cont">

            </div>
        </div>
        <div class="cardd">
            <div class="imgBx">
                <img src="~/images/sl99.jpg" />
            </div>
            <div class="cont2">
                <h2>Običaji</h2>
                <p>
                    Čuvanje tradicije je obaveza za budućnost...
                </p>
                <a class="btn btn-success text-white" asp-action="obicaji" asp-controller="home" data-toggle="modal" data-target="#exampleModal">Saznaj više</a>
            </div>
            <div class="cont">

            </div>
        </div>
        <div class="cardd">
            <div class="imgBx">
                <img src="~/images/sl44.jpg" />
            </div>
            <div class="cont2">
                <h2>Rodoslovi</h2>
                <p>
                    Bratstva, ogranci, porodice kroz vijekove.
                </p>
                <a class="btn btn-success text-white" asp-action="rodoslovi" asp-controller="home">Saznaj više</a>
            </div>
            <div class="cont">

            </div>
        </div>
        <div class="cardd">
            <div class="imgBx">
                <img src="~/images/dokSl3.jpg" />
            </div>
            <div class="cont2">
                <h2>Dokumenti</h2>
                <p>
                    Mala arhiva dokumenata o Brajićima.
                </p>
                <a class="btn btn-success text-white" asp-action="dokumenti" asp-controller="home">Saznaj više</a>
            </div>
            <div class="cont">

            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Obavještenje</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Izrada ove stranice je u toku.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="mx-auto hedr">

</div>*@
